In [1]:
import pandas as pd
import pandas_summary as ps
import numpy as np
import os

In [2]:
df = pd.read_csv('analytics.csv', keep_default_na=False)

In [7]:
dfs = ps.DataFrameSummary(df)

In [8]:
dfs.summary()

,Landing Page,Product Brand,Sessions,% New Sessions,New Users,Bounce Rate,Pages / Session,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
count,5034,5034,5034,5034,5034,5034,5034,5034,5034,5034,5034
unique,5015,859,148,326,77,325,148,1,1,1,1
top,/oos,Topshop,3,100.00%,3,0.00%,1,,,,
freq,9,244,1758,2025,1367,785,1943,5034,5034,5034,5034
counts,5034,5034,5034,5034,5034,5034,5034,5034,5034,5034,5034
uniques,5015,859,148,326,77,325,148,1,1,1,1
missing,0,0,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,categorical,categorical,categorical,categorical,categorical,categorical,categorical,constant,constant,constant,constant

In [10]:
dfs.column_stats

AttributeError: 'DataFrameSummary' object has no attribute 'column_stats'

In [4]:
col = df.iloc[:,:-4]

In [5]:
col

,Landing Page,Product Brand,Sessions,% New Sessions,New Users,Bounce Rate,Pages / Session
0,/product/tezenis-lemon-triangle-bra/Vwu0geSwKq...,Tezenis,629,89.51%,563,45.63%,1.27
1,/product/marks-and-spencer-leopard-print-a-lin...,Marks and Spencer,626,25.56%,160,16.61%,1.33
2,/product/selfish-mother-the-wonder-women-sweat...,Selfish Mother,413,33.41%,138,23.73%,1.27
3,/product/temperley-london-long-toledo-dress/VG...,Temperley London,400,98.50%,394,83.25%,1.07
4,/product/marks-and-spencer-autograph-belted-tr...,Marks and Spencer - Autograph,308,26.62%,82,20.78%,1.20
5,/product/boden-rosannah-cashmere-jumper/WJxI8E...,Boden,290,17.24%,50,11.72%,2.55
6,/product/warehouse-floating-floral-midi-dress/...,Warehouse,289,23.18%,67,15.92%,1.23
7,/product/finery-pentonville-twist-front-jersey...,Finery,288,25.69%,74,16.32%,2.48
8,/product/marks-and-spencer-autograph-leather-s...,Marks and Spencer - Autograph,286,31.47%,90,26.22%,1.17
9,/product/l-k-bennett-delisa-pink-silk-skirt/WL...,L.K. Bennett,285,28.77%,82,20.70%,1.13
10,/product/zara-embroidered-floral-dress/V30R5kz...,Zara,272,88.24%,240,50.37%,1.33
11,/product/melissa-odabash-zuma-mesh-swimsuit/VZ...,Melissa Odabash,256,75.00%,192,42.58%,1.39
12,/product/karen-millen-super-frill-shirt/WI82I1...,Karen Millen,254,73.62%,187,44.88%,1.47
13,/product/coast-raffie-top/WE6Pv8nnfAAFZwi_,Coast,248,29.84%,74,21.77%,1.44
14,/product/warehouse-woodstock-crinkle-shirt-dre...,Warehouse,238,28.99%,69,23.11%,1.14
15,/product/vagabond-katlin-shoes/WJHgPcnnfAAFcdJ1,Vagabond,215,37.21%,80,27.44%,1.30
16,/product/boden-jessica-dress/WJMXW8_0fgAFBW1e,Boden,204,18.63%,38,13.24%,2.74
17,/product/jigsaw-olivia-cross-strap-trainers/WK...,Jigsaw,200,31.00%,62,25.00%,1.18
18,/product/uterque-gem-earrings/WMp7_cnnfAAFhC11,Uterq�_e,194,31.44%,61,24.74%,1.31
19,/product/miss-kg-by-kurt-geiger-soho-ankle-boo...,Miss KG by Kurt Geiger,193,18.65%,36,15.03%,2.32
20,/product/boden-jennie-coat/V-5EfMnnfAAGw4Yp,Boden,191,38.74%,74,31.41%,1.17
21,/product/french-connection-atlantic-faux-leath...,French Connection,188,27.13%,51,18.09%,1.22
22,/product/karen-millen-leather-o-ring-bag/WJd55...,Karen Millen,187,23.53%,44,18.18%,1.55
23,/product/reiss-lulu-velvet-dress/WIzSkcnnfAAGtNm7,Reiss,177,19.77%,35,12.99%,2.27
24,/product/boden-backless-loafers/WFkbUkzt_QAFAx1L,Boden,170,18.82%,32,13.53%,1.41
25,/product/miss-patina-liberty-dress/WJ0ijMnnfAA...,Miss Patina,168,25.00%,42,15.48%,1.64
26,/product/massimo-dutti-bow-detail-jumpsuit/WNE...,Massimo Dutti,166,29.52%,49,21.69%,1.23
27,/product/warehouse-tie-front-top/WM7qHEzt_QAGbSB4,Warehouse,165,27.88%,46,20.00%,1.14
28,/product/and-other-stories-pointed-suede-pump/...,& Other Stories,159,29.56%,47,24.53%,1.33
29,/product/marks-and-spencer-autograph-leather-h...,Marks and Spencer - Autograph,159,22.01%,35,15.72%,1.26
...,...,...,...,...,...,...,...
5004,03/03/2017,"4,100",NaN,NaN,NaN,NaN,NaN
5005,03/04/2017,"4,132",NaN,NaN,NaN,NaN,NaN
5006,03/05/2017,"4,763",NaN,NaN,NaN,NaN,NaN
5007,03/06/2017,"4,324",NaN,NaN,NaN,NaN,NaN
5008,03/07/2017,"4,694",NaN,NaN,NaN,NaN,NaN
5009,03/08/2017,"3,910",NaN,NaN,NaN,NaN,NaN
5010,03/09/2017,"4,165",NaN,NaN,NaN,NaN,NaN
5011,03/10/2017,"3,334",NaN,NaN,NaN,NaN,NaN
5012,03/11/2017,"3,640",NaN,NaN,NaN,NaN,NaN
5013,03/12/2017,"3,170",NaN,NaN,NaN,NaN,NaN
5014,3/13/17,"4,527",NaN,NaN,NaN,NaN,NaN
5015,3/14/17,"3,560",NaN,NaN,NaN,NaN,NaN
5016,3/15/17,"3,571",NaN,NaN,NaN,NaN,NaN
5017,3/16/17,"3,577",NaN,NaN,NaN,NaN,NaN
5018,3/17/17,"4,056",NaN,NaN,NaN,NaN,NaN
5019,3/18/17,"4,453",NaN,NaN,NaN,NaN,NaN
5020,3/19/17,"4,686",NaN,NaN,NaN,NaN,NaN
5021,3/20/17,"2,983",NaN,NaN,NaN,NaN,NaN
5022,3/21/17,"4,701",NaN,NaN,NaN,NaN,NaN
5023,3/22/17,"5,215",NaN,NaN,NaN,NaN,NaN
5024,3/23/17,"4,294",NaN,NaN,NaN,NaN,NaN
5025,3/24/17,"4,581",NaN,NaN,NaN,NaN,NaN
5026,3/25/17,"4,559",NaN,NaN,NaN,NaN,NaN
5027,3/26/17,"4,654",NaN,NaN,NaN,NaN,NaN
5028,3/27/17,"4,510",NaN,NaN,NaN,NaN,NaN
5029,3/28/17,"3,424",NaN,NaN,NaN,NaN,NaN
5030,3/29/17,"3,477",NaN,NaN,NaN,NaN,NaN
5031,3/30/17,"3,053",NaN,NaN,NaN,NaN,NaN
5032,3/31/17,"4,079",NaN,NaN,NaN,NaN,NaN
5033,NaN,"127,101",NaN,NaN,NaN,NaN,NaN

In [6]:
df3 = df[col]

ValueError: Must pass DataFrame with boolean values only

In [8]:
dfs = ps.DataFrameSummary(df)

In [9]:
dfs.columns_stats

,Landing Page,Product Brand,Sessions,% New Sessions,New Users,Bounce Rate,Pages / Session,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
counts,5032,5033,5001,5001,5001,5001,5001,0,0,0,0
uniques,5014,858,147,325,76,324,147,0,0,0,0
missing,2,1,33,33,33,33,33,5034,5034,5034,5034
missing_perc,0.04%,0.02%,0.66%,0.66%,0.66%,0.66%,0.66%,100%,100%,100%,100%
types,categorical,categorical,categorical,categorical,categorical,categorical,numeric,numeric,numeric,numeric,numeric

In [10]:
df_out = df.head(10)

In [12]:
dfs = ps.DataFrameSummary(df_out)

In [13]:
dfs.column_stats

AttributeError: 'DataFrameSummary' object has no attribute 'column_stats'

In [14]:
pd.get_dummies(df_out["Product Brand"])

,Boden,Finery,L.K. Bennett,Marks and Spencer,Marks and Spencer - Autograph,Selfish Mother,Temperley London,Tezenis,Warehouse
0,0,0,0,0,0,0,0,1,0
1,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0
3,0,0,0,0,0,0,1,0,0
4,0,0,0,0,1,0,0,0,0
5,1,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,1
7,0,1,0,0,0,0,0,0,0
8,0,0,0,0,1,0,0,0,0
9,0,0,1,0,0,0,0,0,0

In [15]:
pd.get_dummies(df_out, columns=["Product Brand"]) #or to do it in place, you can do it this way

,Landing Page,Sessions,% New Sessions,New Users,Bounce Rate,Pages / Session,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Product Brand_Boden,Product Brand_Finery,Product Brand_L.K. Bennett,Product Brand_Marks and Spencer,Product Brand_Marks and Spencer - Autograph,Product Brand_Selfish Mother,Product Brand_Temperley London,Product Brand_Tezenis,Product Brand_Warehouse
0,/product/tezenis-lemon-triangle-bra/Vwu0geSwKq...,629,89.51%,563,45.63%,1.27,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,1,0
1,/product/marks-and-spencer-leopard-print-a-lin...,626,25.56%,160,16.61%,1.33,NaN,NaN,NaN,NaN,0,0,0,1,0,0,0,0,0
2,/product/selfish-mother-the-wonder-women-sweat...,413,33.41%,138,23.73%,1.27,NaN,NaN,NaN,NaN,0,0,0,0,0,1,0,0,0
3,/product/temperley-london-long-toledo-dress/VG...,400,98.50%,394,83.25%,1.07,NaN,NaN,NaN,NaN,0,0,0,0,0,0,1,0,0
4,/product/marks-and-spencer-autograph-belted-tr...,308,26.62%,82,20.78%,1.20,NaN,NaN,NaN,NaN,0,0,0,0,1,0,0,0,0
5,/product/boden-rosannah-cashmere-jumper/WJxI8E...,290,17.24%,50,11.72%,2.55,NaN,NaN,NaN,NaN,1,0,0,0,0,0,0,0,0
6,/product/warehouse-floating-floral-midi-dress/...,289,23.18%,67,15.92%,1.23,NaN,NaN,NaN,NaN,0,0,0,0,0,0,0,0,1
7,/product/finery-pentonville-twist-front-jersey...,288,25.69%,74,16.32%,2.48,NaN,NaN,NaN,NaN,0,1,0,0,0,0,0,0,0
8,/product/marks-and-spencer-autograph-leather-s...,286,31.47%,90,26.22%,1.17,NaN,NaN,NaN,NaN,0,0,0,0,1,0,0,0,0
9,/product/l-k-bennett-delisa-pink-silk-skirt/WL...,285,28.77%,82,20.70%,1.13,NaN,NaN,NaN,NaN,0,0,1,0,0,0,0,0,0